label{
    display: inline;
}

p{
    display: inline;
}

#antall{
    margin-bottom: 20px;
    margin-top: 20px;
    max-width: 20px;
}

input{
    margin-bottom: 5px;
}

button{
    margin-bottom: 1vh;
}

.feilinput{
    color: red;
}